.bg-yellow {
    background-color: #FEF0B0;
}

.editUser {
    padding-left: 31px;
    padding-right: 31px;
    background-color: #63C5B5;
    color: white;
}

.editUser:hover {
    background-color: #59AD9F;
    color: white;
}

.editUser:focus {
    box-shadow: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.deleteUser {
    padding-left: 19px;
    padding-right: 19px;
    background-color: #dc3545;
    color: white;
}

.deleteUser:hover {
    background-color: #bb2d3b;
    color: white;
}

.deleteUser:focus {
    box-shadow: none;
}